
<!-- panneau de login -->
<div class="accueil">
<form class="user-form">
  <div >
    <h1 class="welcome" id="bienvenue">Welcome</h3>
  </div>
  <fieldset>
    <legend>Identification :</legend>
    <div class="field">
      <label for="clientID">Client ID :</label>
      <input type="text" size="30" id="clientID" autocomplete="clientID" placeholder="your client ID pls" autofocus />
    </div>
    <div class="field">
      <label for="clientSecret">Client Secret</label>
      <input type="text" size="30" id="clientSecret" autocomplete="clientSecret" placeholder="your client Secret pls" />
    </div>
    <input class="but-valider" id="login" type="button" value="Log in" />
    <!-- L'écouteur du bouton a été ajouté depuis le JavaScript -->
  </fieldset>
</form>
</div>