<!DOCTYPE html>

<!-- panneau pour créer un nouveau compte -->
<div class="infoPerso">
  <div class="headerAbsolute">
      <p>Spotify</p>
  </div>

  <div class="top5Tracks">
    <label>Top 5 tracks from the last 30 days</label>
    <p id="topTrack1">- ..........</p>
    <p id="topTrack2">- ..........</p>
    <p id="topTrack3">- ..........</p>
    <p id="topTrack4">- ..........</p>
    <p id="topTrack5">- ..........</p>
  </div>

  <div class="top5Artists">
    <label>Top 5 tracks from the last 30 days</label>
    <p id="topArtist1">- ..........</p>
    <p id="topArtist2">- ..........</p>
    <p id="topArtist3">- ..........</p>
    <p id="topArtist4">- ..........</p>
    <p id="topArtist5">- ..........</p>
  </div>

  <div class="recommendedTracks">
    <label>Top 5 tracks from the last 30 days</label>
    <p id="recTrack1">- ..........</p>
    <p id="recTrack2">- ..........</p>
    <p id="recTrack3">- ..........</p>
    <p id="recTrack4">- ..........</p>
    <p id="recTrack5">- ..........</p>
  </div>

  <div class="recommendedArtists">
    <label>Top 5 tracks from the last 30 days</label>
    <p id="recArtist1">- ..........</p>
    <p id="recArtist2">- ..........</p>
    <p id="recArtist3">- ..........</p>
    <p id="recArtist4">- ..........</p>
    <p id="recArtist5">- ..........</p>
  </div>
  <div>
    <input id="chargerInfo" type="button" value="load your informations" />
  </div>
  <div>
    <input id="infoArtiste" type="button" value="Go to artist informations" />
  </div>
</div>