<!DOCTYPE html>

<!-- panneau pour créer un nouveau compte -->
<div class="infoArtiste">
  <div class="rechercherArtiste">
    <input
      type="text"
      size="30"
      id="artisteRecherche"
      placeholder="pls enter the name of an artist on spotify"
      autofocus
    />
  </div>
  <div class="searchArtist">
    <button  id="searchArtist">search</button>
  </div>

  <div class="img">
    <img id="imgArtiste" />
    <p id="nomArtiste"></p>
  </div>
  <div>
    <p>Number of followers :</p>
    <p id="follower"></p>
    <p>Number of songs :</p>
    <p id="nbrSongs"></p>
    <p>Genres :</p>
    <p id="genre"></p>
  </div>
  <div>
    <input id="recommendation" type="button" value="Go to track recommendation" />
  </div>
</div>
