<!DOCTYPE html>

<!-- panneau pour créer un nouveau compte -->
<div class="recommendation">
  <div class="rechercherSon">
    <input type="text" size="30" id="sonRecherche" placeholder="pls enter the name of a track" autofocus/>
    <input type="text" size="30" id="artisteRecherche" placeholder="pls enter the name of a artist"/>
    <input type="text" size="30" id="genreRecherche" placeholder="pls enter the name of a genre"/>
  </div>
  <div class="searchSong">
    <button id="searchSong">search</button>
  </div>

  <div>
    <p>Here are some tracks you might like :</p>
    <p id="track1"></p>
    <p id="track2"></p>
    <p id="track3"></p>
    <p id="track4"></p>
    <p id="track5"></p>
  </div>
  <div>
    <input id="infoArtists" type="button" value="Go to artist informations" />
  </div>
</div>
